/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-medium);
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a:hover {
  transform: translateY(-2px); /* Slightly raise the link */
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  animation: pulseLogo 3s infinite;
}

@keyframes pulseLogo {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  color: black; /* This ensures that links are black in light mode */
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Corrected typo from '0.3' to '0.3s' */
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 600px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  height: 90vh;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  border-radius: 20%;
  padding-top: 1vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  position: relative;
}

.profile-pic {
  display: block;
  width: calc(100% - 8px);
  height: auto;
  border-radius: 50%;
  position: relative;
  cursor: pointer; 
}

.panther-border {
  z-index: 2;
  margin: 4px;
  box-shadow: 0 0 0 4px black; /* Black border for light mode */
}

body.dark-mode .panther-border {
  box-shadow: 0 0 0 4px rgba(115, 7, 173, 0.6), 0 0 15px rgba(115, 7, 173, 0.4),
    0 0 25px rgba(167, 2, 255, 0.3);
  animation: pulseVibranium 3s infinite;
}

@keyframes pulseVibranium {
  0%,
  100% {
    box-shadow: 0 0 0 4px rgba(115, 7, 173, 0.6),
      0 0 15px rgba(115, 7, 173, 0.4), 0 0 25px rgba(167, 2, 255, 0.3);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(115, 7, 173, 0.75),
      0 0 25px rgba(115, 7, 173, 0.55), 0 0 35px rgba(167, 2, 255, 0.5),
      0 0 50px rgba(167, 2, 255, 0.7);
    transform: scale(1.02);
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 700;
}

.icon {
    font-size: 2rem; /* Adjust size as needed */
    transition: color 0.3s ease; /* Smooth transition for color changes */
}

body.dark-mode .icon {
    color: white; /* Color for dark mode */
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.dark-mode .icon {
  color: white;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  padding: 2rem 0;
  border-radius: 20px; /* Rounded corners */
}
body.dark-mode .about-section h3 {
  background: linear-gradient(
    90deg,
    #551a8b,
    #a020f0
  ); /* Gradient from dark purple to vibrant purple */
  color: transparent; /* Making the color transparent to reveal the gradient */
  -webkit-background-clip: text; /* This clips the background to the text for Webkit browsers */
  background-clip: text;
  text-decoration: none; /* Removing the underline from links */
}
.about-containers {
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

#about h2,
#about h3 {
  margin-top: 1rem;
}

#about p {
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 1.6;
}

.about-pic {
  margin-left: -1rem; /* Adjust this value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Existing shadow for depth */
  border-radius: 2rem; /* If you have this property */
  width: 690px; /* Adjust this value as needed */
  height: 690px; /* Adjust this value as needed */
  margin-top: -120px;
}

.details-container {
  padding: 2rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 100%;
}


/* EXPERIENCE SECTION */

/* Added and Enhanced CSS for the Experience Section */

#experience {
  background-color: #f7f7f7; /* Slightly off-white background for better readability */
  border-radius: 15px; /* Rounded corners to match the rest of your UI */
  overflow: hidden; /* Ensures child elements don't overlap the rounded corners */
  padding: 4rem 1rem; /* Generous padding for better spacing */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05); /* Subtle box shadow for depth */
  margin-top: 25rem;
}

body.dark-mode #experience {
  background-color: #2e2e2e; /* Dark background for dark mode */
}

.experience-sub-title {
  margin-bottom: 2rem;
  border-bottom: 3px solid #bb86fc; /* Adding a vibrant purple underline for emphasis */
  padding-bottom: 10px;
}

body.dark-mode .experience-sub-title {
  border-color: #551a8b; /* Darker purple for dark mode */
}

.article-container {
  gap: 50rem; /* Increased gap for better separation */
}

article {
  border: 1px solid #5808ba; /* Subtle border for definition */
  border-radius: 8px; /* Consistent rounded corners for aesthetics */
  padding: 1rem 1.5rem; /* Increased padding for a balanced look */
  transition: transform 0.2s, box-shadow 0.2s; /* Transition effects for smoother animations */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); /* Subtle shadow for elevation */
  position: relative; /* This allows us to use z-index for stacking order during hover */
  margin-top: 2rem;
}

article:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth perception on hover */
  z-index: 1; /* Ensure the hovered card rises above others in stacking order */
}

article h3 {
  font-weight: 450; /* Making the title a bit bolder for emphasis */
  margin-bottom: 0.7rem; /* Space below title for visual separation */
}

body.dark-mode article {
  background-color: #383838; /* Darker card background for dark mode */
}

article:hover {
  transform: translateY(-8px); /* Raise the card slightly on hover */
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1); /* Enhance box shadow on hover for depth */
}

section {
  min-height: auto; /* Resetting min-height to auto */
  height: auto;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin-top: 100px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  transition: transform 0.2s, box-shadow 0.2s; /* Add transition for smoother animation */
}

.color-container:hover {
  transform: scale(1.05); /* Slightly increase the size on hover */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Add shadow for lift-off effect */
}

.project-img {
  border-radius: 2rem;
  width: 300px;
  height: 200px;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  margin-top: 7%;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
.dark-mode-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  outline: none;
}

.dark-mode-btn:hover {
  transform: scale(1.1);
}

body.dark-mode .dark-mode-btn {
  opacity: 0.7; /* This will slightly fade out the moon when sun is active */
}

/* Dark Mode Styles */
/* Dark Mode Styles */

body.dark-mode {
  background-color: #121212; /* dark background */
  color: #ffffff; /* white text */
}

body.dark-mode a {
  background: linear-gradient(
    90deg,
    #551a8b,
    #a020f0
  ); /* Gradient from dark purple to vibrant purple */
  color: transparent; /* This will make the color transparent and let the background gradient show */
  -webkit-background-clip: text; /* This will clip the background to the text */
  background-clip: text;
  text-decoration: none; /* Removing the underline from links */
}

/* Hover state for links in dark mode */
body.dark-mode a:hover {
  color: transparent; /* Keep the color transparent to show the gradient */
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(126, 5, 150);
}

body.dark-mode .btn-color-1,
body.dark-mode .btn-color-2:hover {
  background: #2e2e2e;
  border: #bb86fc 0.1rem solid;
  color: #ffffff; /* Making text white on buttons */
}

body.dark-mode .btn-color-2,
body.dark-mode .btn-color-1:hover {
  background: #2e2e2e;
  border: #bb86fc 0.1rem solid;
  color: #ffffff; /* Making text white on buttons */
}

body.dark-mode .details-container {
  background: #2e2e2e;
  border-color: #2e2e2e;
  color: #ffffff; /* Making text white on containers */
}

body.dark-mode .color-container {
  background: #2e2e2e;
  border-color: #2e2e2e;
  color: #ffffff; /* Making text white on containers */
}

body.dark-mode #socials-container .icon {
  visibility: hidden;
}

body.dark-mode #desktop-nav,
body.dark-mode #hamburger-nav {
  background-color: #121212;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #ffffff; /* Making all text elements white */
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch .circle {
  width: 28px;
  height: 28px;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.dark-mode .toggle-switch {
  background-color: #333;
}

.dark-mode .toggle-switch .circle {
  left: 31px;
}

/* ... add more specific styles for other components for dark mode ... */
.section__text p,
.section__text h1,
h1,
h2,
.section-title {
  color: #000; /* Black text */
  background-image: none; /* Removing any gradient */
  -webkit-background-clip: initial; /* Resetting the background clip for Webkit browsers */
  background-clip: initial;
}

/* If there are other titles or text elements you want in black, add them to the selector list above. */

body.dark-mode .section__text p,
body.dark-mode .section__text h1,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode .section-title {
  background-image: linear-gradient(
    90deg,
    #551a8b,
    #a020f0
  ); /* Black Panther themed gradient */
  color: transparent; /* Making the color transparent to reveal the gradient */
  -webkit-background-clip: text; /* This clips the background to the text for Webkit browsers */
  background-clip: text;
  background-color: transparent; /* Ensure that the color is set to transparent so that only the background shows */
}

.logo {
  color: #000; /* Black text */
  background-image: none; /* Removing any gradient */
  -webkit-background-clip: initial; /* Resetting the background clip for Webkit browsers */
  background-clip: initial;
}

body.dark-mode .logo {
  background-image: linear-gradient(
    90deg,
    #551a8b,
    #a020f0
  ); /* Black Panther themed gradient */
  color: transparent; /* Making the color transparent to reveal the gradient */
  -webkit-background-clip: text; /* This clips the background to the text for Webkit browsers */
  background-clip: text;
  background-color: transparent; /* Ensure that the color is set to transparent so that only the background shows */
}

/* Initial state of the sections - before they are targeted */
.fade-in-target {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* State of the sections when they are targeted */
.fade-in-target:target {
  opacity: 1;
  transform: translateY(0);
}

.top-button {
  display: block;
  margin: 2rem auto;
  cursor: pointer;
}
